# -----------------
# Python / Django
# -----------------
.venv/
venv/
backend/.venv/
backend/venv/
__pycache__/
*.pyc
db.sqlite3

# -----------------
# React / Node
# -----------------
node_modules/
dist/
dist-ssr/

# -----------------
# Environment
# -----------------
.env
*.local

# -----------------
# Database dump
# -----------------
backend/pfe_sante.sql
pfe_sante.sql

# -----------------
# Logs
# -----------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -----------------
# Editor / OS
# -----------------
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?